[Desktop Entry]
Version=1.0
Type=Application
Name=Falcon PDF
GenericName=PDF Viewer and Editor
Comment=View, annotate and edit PDFs, and read eBooks
Exec=falconpdf %U
Icon=com.falconpdf.app
Terminal=false
Categories=Office;Viewer;
Keywords=pdf;viewer;editor;document;ebook;epub;annotate;
MimeType=application/pdf;application/epub+zip;x-scheme-handler/falcon-pdf;x-scheme-handler/com.falcon.reader;x-scheme-handler/com.googleusercontent.apps.654243674662-abogs3ldcsg0l0jjb0kdjm36vqmgns9r;
StartupNotify=true
StartupWMClass=FalconPDF
