[Desktop Entry]
Type=Application
Name=SoundCraft
GenericName=Digital Audio Workstation
Comment=Record, edit and mix audio and MIDI
Exec=soundcraft %F
TryExec=soundcraft
Icon=ai.storyteller.soundcraft
Terminal=false
StartupNotify=true
StartupWMClass=ai.storyteller.soundcraft
Categories=AudioVideo;Audio;Midi;Mixer;Sequencer;Recorder;
MimeType=application/x-soundcraft-session;audio/x-wav;audio/wav;audio/vnd.wave;audio/x-aiff;audio/aiff;audio/flac;audio/x-flac;audio/mpeg;audio/midi;audio/x-midi;
Keywords=daw;audio;mixer;recording;multitrack;midi;editor;music;
