[Desktop Entry]
Type=Application
Name=Pear Desktop
Comment=Desktop music streaming client with a plugin system
Exec=pear-desktop %U
Icon=io.github.pear_devs.pear_desktop
Terminal=false
StartupWMClass=com.github.th-ch.youtube-music
Categories=AudioVideo;Audio;Player;
Keywords=music;player;streaming;plugins;
